.Gallery {
    margin-top: 118px;
}

#photoGallery img {
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 9px;
}

.Gallery h2 {
    font-size: 45px;
    font-family: 'Fira Sans semibold';
    font-weight: 600;
    padding-bottom: 45px;
}

.lg-react-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#photoGallery .lg-react-element img {
    width: 575px;
    transition: .25s ease-in-out;
    padding-right: 0;
    padding-bottom: 25px;
    position: relative;
}

.GalleryBox a {
    text-decoration: none;
    font-size: 20px;
    color: #4D4D4D;
}