.Gallery {
    margin-top: 180px;
}

.Gallery img {
    display: inline-block;
    padding-right: 28px;
    padding-bottom: 30px;
}


.Gallery h2 {
    font-size: 45px;
    font-family: 'Fira Sans semibold';
    font-weight: 600;
    padding-bottom: 45px;
}

.lg-react-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

.lg-react-element img {
    width: 540px;
    opacity: 0.8;
    transition: .25s ease-in-out;
    position: relative;
}

.lg-react-element a:hover img {
    opacity: 1;
}

.GalleryBox a {
    text-decoration: none;
    font-size: 20px;
    color: #4D4D4D;
}