.cooperation-block {
    margin-top: 50px;
}

.cooperation-block img {
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 10px;
}

.cooperation-block h2 {
    font-size: 45px;
    font-family: 'Fira Sans semibold';
    font-weight: 600;
    padding-bottom: 45px;
}

.cooperation-block p {
    font-size: 20px;
    color: #4D4D4D;
}

.buttonBack {
    position: relative;
}

.buttonBack img {
    position: absolute;
    right: 0;
    top: 40px;
}