.secondBLockForm {
    margin-top: 30px;
    position: relative;
}

.secondBLockForm h3 {
    font-size: 35px;
    color: #fff;
    padding-bottom: 30px;
}

.secondBLockForm p {
    font-size: 22px;
    color: #fff;
    padding-bottom: 40px;
}

.secondBLockForm a {
    font-size: 25px;
    color: var(--hover-color);
    font-family: 'Fira Sans semibold';
    text-decoration: none;
    padding-left: 10px;
}


input[type="text"] {
    height: 80px;
    width: 350px;
    display: inline-block; 
    border: 1px solid #413C33;
    border-radius: 4px;
    margin-right: 15px;
    padding-left: 20px;
    font-size: 20px;
    caret-color: var(--hover-color);
}


input[type="submit"] {
    width: 350px;
    height: 80px;
    background: linear-gradient(180deg, #FF7A00 0%, #ED5500 100%);
    border-radius: 4px;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border: none;
    font-family: 'Fira Sans semibold';
}

input[type="submit"]:hover {
    background: #FF5C00;
    color: #fff!important;
}

input[type="submit"]:active {
    background: #ED5500;
}

input[type="checkbox"] {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.check_block {
    display: flex;
    text-align: left;
    margin-right: 97px;
    justify-content: end;
    margin-top: 20px;
    line-height: 1.2;
    color: #fff;
}

::placeholder {
    font-size: 20px;
    color: #2C2C2C;
    padding-left: 25px;
}

.modal.show {
    display: block;
    background: #fff;
    position: absolute;
    width: 445px;
    height: 310px;
    top: 0;
    left: 320px;
    margin: 0 auto;
    font-size: 25px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 4px;
}

.modal__dialog {
    position: relative;
}

.modal__title {
    width: 266px;
    margin: 18px auto;
}

.modal__close {
    position: absolute;
    right: 11px;
    top: -28px;
    cursor: pointer;
}
.modal__content {
    margin-top: 20px;
}

.modal img {
    margin: 0 auto;
    padding-top: 20px;
}

.caret {
    padding-left: 120px;
}

input:focus-visible {
    outline: none!important;
}

::placeholder {
    padding: 0;
}

/* .overModal {
    width: 1440px;
    height: 100%;
    position: absolute;
} */

.errors_block {
    position: absolute;
    left: 368px;
    color: #FFF;
}

.errors_block2 {
    position: absolute;
    left: 20px;
    color: #FFF;
}
