.main-header {
    background: var(--main-color);
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 3;
}

.logo-img {
    width: 150px;
}

.main-body {
    height: 1200px;
}

.aboutLink {
    cursor: pointer;
    display: inline-block;
    margin-top: 65px;
    font-size: 17px;
    text-decoration: none;
    color: #ADA79C;
    padding-right: 30px;
}

.aboutLink:hover {
    color: #ADA79C;
}

.footerMobileMenu {
    display: none;
}



@media (max-width: 1024px) {
    .rgbaSLiderText {
      text-align: left;
      margin-right: 0 auto;
    }
    .rgbaSLiderText p {
      width: 386px!important;
    }
    .aboutInfoBlock h4 {
        width: 100%!important;
    }
    .scrollDivName, .scrollDivName2  {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    input[type="text"] {
        width: 270px!important;
    }
    .lg-react-element img {
        width: 465px!important;
    }
    .firstBlockGround {
        height: 1380px!important;
    }
    .scrollDivName, .scrollDivName2  {
        height: 636px!important;
    }
    .aboutInfoBlock .swiper-wrapper {
        height: 420px!important;
    }
    .second-block_aboutInfo-items {
        height: 577px;
    }
  }

  @media (max-width: 768px) {
    .second-block_aboutInfo-items {
        height: 584px!important;
    }
    .about-info .aboutInfoBlock {
        padding-top: 0;
    }
    .aboutInfoBlock .swiper-wrapper {
        height: 142px!important;
    }
    .modal.show {
        width: 100%!important;
        left: 0!important;
        top: 27%!important;
    }
    .infoBlockImgText {
        flex-direction: column!important;
    }
    .topBlockTwo {
        width: 100%!important;
        height: 484px!important;
        padding-top: 21px!important;
        flex-direction: column!important;
        border-radius: 0px 0px 15px 15px!important;
    }
    .topBlockTwo .slider__block {
        margin-top: 10px;
    }
    .rgbaSLiderText {
        width: 100%;
        position: relative;
        height: 386px;
    }
    .rgbaSLiderText .container {
        width: 95%!important;
        height: 329px!important;
        text-align: left;
        margin: 0 auto!important;
        padding: 2px;
    }
    .rgbaSLiderText .container h1 {
        font-family: 'Fira Sans semibold';
        font-weight: 600;
        font-size: 35px;
        padding-top: 75px;
        width: 100%!important;
        letter-spacing: -2px;
        line-height: 120%;
    }
    .rgbaSLiderText .buttonGrey {
        font-family: 'FiraSans-regular';
        height: 50px;
        width: 100%;
        font-size: 15px;
        line-height: 50px;
    }
    .slider__block {
        overflow-x: visible!important;
        width: 100%!important;
        margin-left: 0!important;
    }
    .imgslide {
        height: 285px!important;
        border-radius: 15px 15px 0px 0px!important;
    }
    .imgslide img {
        border-radius: 15px 15px 0px 0px!important;
    }
    .slider__block button {
        display: none!important; 
    }
    .main-header .main-menu {
        padding: 0!important;
        margin-top: 6px;
        height: 80px;
        width: 100%;
        overflow-x: scroll!important;
        overflow-y: hidden;
        z-index: 9;
        position: relative;
    }
    .footerMobileMenu .main-menu {
        overflow-x: scroll!important;
        overflow-y: hidden;
    }
    .main-header .main-menu::-webkit-scrollbar {
        width: 0;
    }
    .main-header .main-menu li {
        padding-right: 35px;
    }
    .footerMobileMenu .main-menu li {
        padding-right: 35px;
    }
    .aboutLinks {
        flex-direction: column-reverse;
    }
    .aboutLinks .aboutLink {
        font-size: 12px!important;
    }
    .footerMobileMenu .main-menu::-webkit-scrollbar {
        width: 0;
    }
    .main-header .logo-img {
        width: 106px;
        padding-top: 11px;
        margin-bottom: -29px;
    }
    .main-menu ul {
        margin-top: 24px!important;
    }
    .main-header {
        height: 115px!important;
    }
    .main-contacts {
        font-family: 'FiraSans-regular'!important;
        position: absolute!important;
        right: 10px!important;
        top: -16px!important;
        left: 0;
        z-index: 9;
        height: 101px!important;
    }
    .first-block_aboutInfo {
        margin-top: 190px;
    }
    .aboutInfoBlock .first-block_aboutInfo p {
        font-size: 15px;
        line-height: 170%;
    }
    .second-block_aboutInfo-item {
        padding: 0!important;
    }
    .flexItem {
        flex-direction: column!important;
        padding: 0!important;
    }
    .flexItem img {
        margin: 0!important;
    }
    .bnefitsBlock_item {
        display: inline-block!important;
        line-height: 5;
    }
    .bnefitsBlock_item img {
        margin-bottom: -80px!important;
    }
    .flexItem p {
        width: 100%!important;
        text-align: left!important;
        padding-left: 70px!important;
    }
    .react-tabs__tab-list {
        width: 100%!important;
        height: 40px!important;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .react-tabs__tab {
        width: 45%!important;
        margin: 9px 10px!important;
        height: 27px!important;
        white-space: nowrap;
    }
    .react-tabs__tab h4 {
        font-size: 12px!important;
        padding-top: 1px!important;
    }
    .paragTabNameMap {
        font-size: 15px!important;
    }
    .modulImgBlock {
        max-width: 860px!important;
    }
    .scrollDivName2 {
        position: relative!important;
    }
    .GalleryBox {
        padding-top: 15px;
    }
    .logo-img img {
        width: 145px;
    }
    .rgbaSLiderText p {
        width: 100%!important;
        padding-bottom: 26px!important;
        font-size: 15px!important;
        font-family: 'FiraSans-regular'!important;
        padding: 3px;
    }
    .showHideLink {
        color: #FF5C00;
        font-size: 20px!important;
        display: block;
        text-align: right;
    }
    .benefits-block .benefitsBlock {
        margin-top: 35px;
    }
    .benefitsBlock .showHideLink {
        font-size: 16px;
    }
    .aboutInfoBlock h3 {
        font-size: 20px!important;
        padding-top: 30px!important;
        text-align: left!important;
        padding-bottom: 20px!important;
    }
    .aboutInfoBlock span {
        font-size: 15px!important;
    }
    .second-block_aboutInfo-item {
        width: 100%!important;
    }
    .aboutInfoBlock .h2style {
        padding-bottom: 0!important;
        width: 40px;
        padding-right: 10px!important;
    }
    .groundInfoBlock .h2style {
        padding-bottom: 0!important;
        width: 40px;
        padding-right: 10px!important;
    }
    .photo-gallery-block .h2style {
        padding-bottom: 0!important;
        width: 40px;
        padding-right: 10px!important;
    }
    .cooperation-block .h2style {
        padding-bottom: 0!important;
        width: 40px;
        padding-right: 10px!important;  
    }
    .aboutInfoBlock .swiper-button-prev {
        display: none;
    }
    .react-tabs__tab-panel h3 {
        font-size: 17px!important;
        text-align: left;
        padding-top: 20px!important;
    }
    .aboutInfoBlock .swiper-button-next {
        display: none;
    }
    .benefitsBlock h3 {
        font-size: 20px!important;
    }
    .aboutInfoBlock h2 {
        font-family: 'FiraSans-regular'!important;
        font-size: 25px!important;
        padding-bottom: 18px!important;
        padding-top: 97px!important;
        letter-spacing: -2px;
    }
    .groundInfoBlock {
        margin-bottom: -135px!important;
    }
    .groundInfoBlock h2 {
        font-family: 'FiraSans-regular'!important;
        font-size: 25px!important;
        padding-bottom: 18px!important;
        letter-spacing: -2px;
    }
    .Gallery {
        margin-top: 160px!important;
    }
    .Gallery h2 {
        font-family: 'FiraSans-regular'!important;
        font-size: 25px!important; 
        display: flex;
        padding-bottom: 25px!important;
        letter-spacing: -2px;
    }
    .cooperation-block {
        margin-bottom: -210px!important;
    }
    .cooperation-block h2 {
        font-family: 'FiraSans-regular'!important;
        font-size: 25px!important;
        display: flex;
        padding-bottom: 20px!important;
        letter-spacing: -2px;
    }
    .secondBLockForm h3 {
        font-family: 'FiraSans-regular'!important;
        font-size: 20px!important;
        width: 100%!important;
        margin: 0 auto;
        padding-bottom: 5px!important;
    }
    .secondBLockForm .pbSpan {
        display: block;
        padding-bottom: 15px;
    }
    .ground-block_form {
        overflow: hidden!important;
        height: 450px!important;
        margin-bottom: -90px!important;
    }
    input[type="text"] {
        height: 40px!important;
        width: 100%!important;
        margin-bottom: 20px;
    }
    #formElem input[type="submit"] {
        width: 100%!important;
        height: 40px;
        line-height: 40px;
    }
    .check_block {
        margin-right: 0!important;
        margin-top: 17px!important;
        justify-content: start!important;
    }
    .check_block .mx-3 {
        margin: 0!important;
    }
    .check_block label {
        padding-left: 10px;
    }
    .second-block_aboutInfo-items {
        overflow-x: hidden!important;
    }
    .rgbaSLiderBLock {
        margin: 0 auto!important;
        width: 100%!important;
        border-radius: 0px 0px 15px 15px!important;
    }
    .slider__block .swiper-pagination{
        padding: 0!important;
    }
    .main-footer {
        margin-top: 460px!important;
        height: 409px!important;
        align-items: baseline!important;
    }
    .main-footer .mobileMenu {
        display: none;
    }
    .footerMobileMenu {
        display: block;
    }
    .main-footer ul {
        height: 58px!important;
        flex-direction: row!important;
    }
    .aboutLink {
        margin: 0!important;
    }
    .cooperation-block {
        margin-top: 10px!important;
    }
    .cooperation-block span {
        font-size: 15px!important;
    }
    .cooperation-block p {
        font-size: 15px!important;
    }
    .spanOrangeColorPhone a {
        font-size: 16px!important;
    }
    .buttonBack {
        display: none;
    }
    .paragTabName {
        font-size: 12px!important;
        font-family: 'FiraSans-regular'!important;
    }
    .lg-react-element img {
        padding-right: 0!important;
    }
    .infoBlockPopupp {
        margin-top: 15px!important;
        margin-right: 0!important;
    }
    .frameTextMini {
        margin-top: 285px!important;
    }
    .infoBlockImgText .carouselImgPopupp {
        position: absolute;
        top: 2px;
        right: 0;
        left: 0;
        height: auto !important;
        width: 100% !important;
        margin: 0 auto !important;
        padding-left: 40px;
        padding-right: 40px;
    }
    .aboutCallMe {
        position: relative!important;
        left: 20px!important;
        bottom: 1px!important;
        width: 260px!important;
    }
    .aboutCallMe p {
        font-size: 16px!important;
    }
    .infoBlockPopupp h4 {
        font-family: 'Fira Sans semibold'!important;
        font-weight: 400!important;
        font-size: 23px!important;
        padding-left: 23px;
        padding-right: 10px;
    }
    .infoBlockPopupp p {
        font-size: 15px!important;
        padding-left: 23px;
    }
    .infoBlockPopupp {
        font-size: 18px!important;
    }
    #popup-root .popup-content {
        width: 85% !important;
        height: auto;
    }
    .popup-content .swiper-wrapper {
        margin-top: 100px;
    }
    .secondBLockForm a {
        display: block;
    }
    #formElem {
        position: relative;
    }
    .errors_block {
        left: 0!important;
        top: 97px;
    }
    .errors_block2 {
        left: 0!important;
        top: 37px!important;
    }
    .popup-content .close {
        top: 15px!important;
        right: 15px!important;
        z-index: 9;
    }
    .greyBlock {
        margin-top: 38px!important;
        padding-top: 180px!important;
        padding-bottom: 132px!important;
        height: 608px!important;
    }
    .greyBlock .row .col {
        margin-top: -24px;
    }
    .greyBlock .col h3 {
        text-align: left;
        font-size: 20px;
        padding-bottom: 11px;
    }
    .greyBlock .sliderFlex {
        flex-direction: column;
        width: 100%;
        height: 467px;
        align-items: baseline;
    }
    .sliderFlexText {
        width: auto!important;
        padding-left: 15px!important;
    }
    .sliderFlex .sliderFlexImg {
        width: 100%;
        padding: initial;
    }
    .sliderFlex .sliderFlexImg img {
        width: 90%;
        height: 258px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .sliderFlex .sliderFlexText h4 {
        padding-top: 15px;
        font-size: 15px;
        padding-left: 5px;
    }
    .sliderFlex .sliderFlexText p {
        font-size: 15px;
        padding-left: 5px;
    }
    .greyBlock .container .swiper-button-next {
        top: 92%;
        right: 0;
        width: 35px;
        height: 35px;
        filter: none!important;
    }
    .greyBlock .container .swiper-button-prev {
        top: 92%;
        left: 0;
        width: 35px;
        height: 35px;
        filter: none!important;
    }
    .greyBlock .swiper-button-next:after {
        font-size: 12px;
        font-weight: 600;
    } 
    .greyBlock .swiper-button-prev:after {
        font-size: 12px;
        font-weight: 600;
    }
    .accordionMobile {
        display: block!important;
    }
    .aboutInfoBlock .second-block_aboutInfo .react-tabs {
        display: none;
    }
    .szh-accordion .szh-accordion__item-heading {
        padding-top: 0px!important;
        padding-bottom: 0!important;
    }
    .szh-accordion__item .szh-accordion__item-content .bgInfoMob {
        width: 100%;
        background-size: cover;
        height: 474px;
    }
    .desktopVersion-benefitsBlock {
        display: none;
    }
    .mobileVersion-benefitsBlock {
        display: block!important;
    }
    .mobileVersion-benefitsBlock h3 {
        text-align: left!important;
    }
    .slideItem h4 {
        font-family: 'FiraSans-regular';
        width: 100%;
        font-size: 15px;
        color: var(--hover-color);
        font-weight: 600;
        margin-top: -23px;
        padding-left: 2px;
        letter-spacing: -0.3px;
    }
    .slideItem p {
        font-family: 'FiraSans-regular';
        font-weight: 400;
        font-size: 15px;
        padding-top: 8px;
        width: 85%;
        padding-left: 3px;
    }
    .benefitsBlock .slideItem {
        width: 105%;
    }
    .slideItem img {
        margin-left: -15px;
    }
    .main-body .slider {
      padding-top: 80px;
    }
    .map-block .textOpen {
        width: 100%;
    }
    .scrollDivName .imgFixedBlock {
        width: 1200px;
        position: absolute;
        height: 138%;
    }
    .scrollDivName2 .imgFixedBlock {
        width: 1200px;
    }
    .scrollDivName .imgFixedBlock img {
          margin-left: 292px;
    }
    .scrollDivName .block-modules_second {
        margin-right: -218px;
    }
    .scrollDivName .block-modules_three {
        margin-left: 36px;
    }
    .scrollDivName .block-modules_secondsdfsdf {
        right: -677px;
    }
    .scrollDivName .block-modules_secondsdfsdf.two_block_modules {
        top: 389px;
    }
    .frameTextMini .complectation td {
        font-size: 15px;
    }
    .frameTextMini .dorComplect td {
        font-size: 15px;
    }
    .frameTextMini .dorComplect th {
        font-size: 12px;
        padding-left: 20px;
    }
    .frameTextMini .complectation th {
        padding-left: 20px;
        font-size: 12px;
    }
    #photoGallery .lg-react-element img {
        padding-bottom: 7px!important;
    }
    .styles_itemBtn__3ViTo:hover {
        color: #fff!important;
    }
    .modal img {
        padding-top: 16px;
    }
    .modal__content .modal__title .miniTextMessage {
        padding-top: 0;
        width: 101%;
    }
    .bigModul {
        text-align: center;
        padding: 0;
    }
    #popup-root .popup-overlay #popup-35 {
        height: 800px!important;
        width: 90%!important;
        overflow-y: scroll!important;
        padding: 10px!important;
    }
    #popup-root .popup-overlay #popup-35 h4 {
        font-size: 25px;
    }
    #popup-root .popup-overlay #popup-35 li {
        font-size: 15px;
    }
    #popup-root .popup-overlay #popup-35 p {
        font-size: 15px;
    }
    #popup-root .popup-overlay #popup-36 {
        height: 800px!important;
        width: 90%!important;
        overflow-y: scroll!important;
        padding: 10px!important;
    }
    #popup-root .popup-overlay #popup-36 h4 {
        font-size: 25px;
    }
    #popup-root .popup-overlay #popup-36 p {
        font-size: 15px;
    }
  }

@media (max-width: 330px) {
    .szh-accordion__item .szh-accordion__item-content .bgInfoMob {
        background-size: contain!important;
        background-repeat: no-repeat;
        height: 362px!important;
    }
    .slideItem p {
        width: 164px;
    }
}

@media (max-width: 400px) {
    .szh-accordion__item .szh-accordion__item-content .bgInfoMob {
        height: 428px;
        background-size: cover!important;
        background-repeat: no-repeat;
    }
}



