.main-header {
    background: var(--main-color);
    height: 136px;
    width: 100%;
    display: flex;
    align-items: center
}

.main-body {
    height: 1200px;
}

.aboutLink {
    display: inline-block;
    margin-top: 65px;
    font-size: 17px;
    text-decoration: none;
    color: #ADA79C;
    padding-right: 30px;
}

.aboutLink:hover {
    color: #ADA79C;
}






