.aboutInfoBlock {
    padding-top: 100px;
}

.aboutInfoBlock .swiper-wrapper {
    height: 250px;
}

.first-block_aboutInfo p {
    font-family: 'FiraSans-regular';
    font-weight: 400;
    font-size: 17px;
    line-height: 2.2;
}

.first-block_aboutInfo .bigText {
    font-family: 'Fira Sans semibold';
    font-weight: 500;
    font-size: 25px;
    line-height: 2.2;
}

.aboutInfoBlock img {
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 9px;
}

.aboutInfoBlock h2 {
    font-size: 45px;
    font-family: 'Fira Sans semibold';
    font-weight: 600;
    padding-bottom: 45px;
}

.aboutInfoBlock h3 {
    font-size: 30px;
    font-family: 'Fira Sans semibold';
    font-weight: 400;
    padding-bottom: 55px;
    padding-top: 65px;
    text-align: center;
}

.aboutInfoBlock h4  {
    font-size: 25px;
    font-family: 'Fira Sans semibold';
    font-weight: 500;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 320px;
}

.aboutInfoBlock p {
    font-size: 19px;
    font-weight: 400;
    color: #2C2C2C;
    padding-bottom: 15px;
}

.second-block_aboutInfo .react-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.second-block_aboutInfo-items {
    display: flex;
    justify-content: space-between;
    height: 561px;
}

.second-block_aboutInfo-item {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.second-block_aboutInfo-item img {
    padding: 0;
}

.second-block_aboutInfo-item:hover .iconOk {
    transform: scale(1.3);
    
}

.iconOk {
    position: absolute;
    border: 8px solid #fff;
    border-radius: 30px;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: -30px;
    z-index: 999;
    transition: .25s ease-in-out;
}

.rsis-container {
    width: 272px;
}

.rsis-image {
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.bBfHpH {
    top: calc(111% - 17.5px)!important;
    background: none!important;
    box-shadow: none!important;
    opacity: 1!important; 
}

.bBfHpH::before {
    border-top: 2px solid #FF5C00!important;
    border-right: 2px solid #FF5C00!important;
    height: 23px!important;
    width: 23px!important;
}

.dZkckO {
    top: calc(111% - 17.5px)!important;
    background: none!important;
    box-shadow: none!important;
    opacity: 1!important;  
}

.dZkckO::before {
    border-top: 2px solid #FF5C00!important;
    border-right: 2px solid #FF5C00!important;
    height: 23px!important;
    width: 23px!important;
}

.fPimMH {
    padding-bottom: 20px;
}

.aboutInfoBlock .swiper-button-next {
    top: 80%!important;
}

.aboutInfoBlock .swiper-button-disabled {
    top: 80%!important;
}

.aboutInfoBlock .swiper-button-prev {
    top: 80%!important;
}

.photoBlockRight {
    width: 100%;
    height: 100%;
}

.bginfo1 {
    height: 472px;
    margin-top: 1px;
    background-size: cover;
}

.tabBlockLeft .react-tabs__tab-list {
    border-radius: 0;
    background: #fff;
    box-shadow: none;
    height: initial;
    border: none;
    width: 290px;
}

.tabBlockLeft .react-tabs__tab {
    display: flex;
    align-items: center;
    width: 290px;
    height: 118px;
    margin: 0;
    background: #EDEDED;
    padding: initial;
    border-bottom: 0.5px solid #CDC9C2!important;
}

.tabBlockLeft .react-tabs__tab:last-child {
    border: none!important;
}

.tabBlockLeft .react-tabs__tab h4 {
    font-family: 'FiraSans-regular';
    font-size: 20px;
    text-align: left;
    padding: initial;
    width: initial;
    padding-left: 25px;
    color: #413C33;
}

.tabBlockLeft .react-tabs__tab--selected {
    background: #413C33!important;
    border-radius: 0!important;
}

.tabBlockLeft .react-tabs__tab--selected h4 {
    color: #fff;
}

.greyBlock {
    margin-top: 85px;
    background: #EDEDED;
    height: 673px;
    display: flex;
    align-items:center;
    position: relative;
}

.greyBlock .swiper-slide {
    height: 535px!important;
    filter: drop-shadow(0px 16px 24px rgba(109, 118, 163, 0.12));
}

.greyBlock .col {
    margin-top: 60px;
}

.greyBlock .swiper-button-next, .swiper-button-prev {
    background: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    top: 43%;
    filter: drop-shadow(0px 8px 8px rgba(109, 118, 163, 0.12));
}

.sliderFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    width: 980px;
    height: 482px;
    margin: 0 auto;
}

.sliderFlexImg {
    width: 490px;
    padding-left: 45px;
}

.greyBlock h3 {
    font-family: 'Fira Sans semibold'; 
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding-bottom: 35px;
}

.sliderFlexText {
    width: 419px;
    padding-left: 45px;
}

.sliderFlexText h4 {
    font-family: 'Fira Sans semibold'; 
    font-weight: 400;
    font-size: 25px;
    padding-bottom: 10px;
}

.sliderFlexText p {
    font-size: 17px;
    font-family: 'FiraSans-regular';
}