.slider {
    padding-top: 136px;
}

.topBlockTwo {
    display: flex;
    justify-content: space-between;
    height: 825px;
}

.slider__block {
    width: 50%;
    overflow-x: hidden;
    border-radius: 50px 0px 0px 50px;
    margin-left: 20px;
}


.rgbaSLiderBLock {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: end;
    width: 50%;
    background: linear-gradient(146.05deg, rgba(255, 122, 0, 0.85) 14.13%, rgba(237, 85, 0, 0.86) 63.04%);
    border-radius: 0px 50px 50px 0px;
}


.imgslide {
    height: 825px;
}

.imgslide img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.rgbaSLiderBLock .container {
    display: flex;
    height: 100%;
}

.rgbaSLiderText {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 504px;
    margin-right: 67px;
}

.rgbaSLiderText h1 {
    font-family: 'Fira Sans semibold';
    font-size: 55px;
    color: #2C2C2C;
    font-weight: 600;
    padding-bottom: 18px;
}

.rgbaSLiderText p {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 70px;
    width: 510px;
}

.buttonGrey {
    width: 350px;
    height: 80px;
    background: linear-gradient(180deg, #504B42 0%, #2C2925 100%);
    border-radius: 4px;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Fira Sans semibold';
    cursor: pointer;
}

.buttonGrey:hover {
    background: #413C33;
    color: #fff!important;
}

.buttonGrey:active {
    background: #36332C;
}
