.main-footer {
    height: 400px;
    display: flex;
    background-color: #413C33;
    margin-top: 180px;
    align-items: center;
}

.main-footer ul {
    flex-direction: column;
    align-items: flex-start;
}

.main-footer li {
    padding-bottom: 15px;
}

.main-footer .logo-img {
    display: flex;
    height: 100%;
    align-items: center;
}