#popup-35 {
    width: 1203px!important;
    height: 700px;
    padding: 60px 70px 60px 70px;
    overflow-y: scroll!important;
}

#popup-36 {
    width: 1203px!important;
    height: 700px;
    padding: 60px 70px 60px 70px;
    overflow-y: scroll!important;
}

#popup-35 h4, #popup-36 h4 {
    font-family: 'Fira Sans semibold';
    font-size: 30px;
    padding-bottom: 35px;
}

#popup-35 li, #popup-36 p {
    font-family: 'FiraSans-regular';
    font-size: 17px;
}


#popup-70 {
    width: 1203px!important;
    height: 700px;
    padding: 60px 70px 60px 70px;
    overflow-y: scroll!important;
}

#popup-72 {
    width: 1203px!important;
    height: 700px;
    padding: 60px 70px 60px 70px;
    overflow-y: scroll!important;
}

#popup-70 h4, #popup-72 h4 {
    font-family: 'Fira Sans semibold';
    font-size: 30px;
    padding-bottom: 35px;
}

#popup-70 li, #popup-72 p {
    font-family: 'FiraSans-regular';
    font-size: 17px;
}

