.flexItem {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 65px;
}

.flexItem p {
    width: 130px;
}

.flexItem img {
    margin: 0 33px;
}

.benefitsBlock {
    margin-top: 135px;
}

.benefitsBlock h3{
    padding-bottom: 60px;
    font-size: 35px;
    font-family: 'Fira Sans semibold';
    font-weight: 500;
}