.main-menu {
    height: 100%;
    font-family: 'FiraSans-regular';
    overflow: hidden;
}

.main-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    height: 100%;
}

.main-menu li {
    padding-right: 110px;
    white-space: nowrap;
}

.main-menu li:last-child {
    padding-right: 0;
}

.main-menu a{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    transition: .25s ease-in-out!important;
}

.main-menu a:hover {
    color: var(--hover-color)!important;
}

