.groundInfoBlock {
    margin-top: 218px;                                   
}

.groundInfoBlock img {
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 10px;
}

.groundInfoBlock h2 {
    font-size: 45px;
    font-family: 'Fira Sans semibold';
    font-weight: 600;
    padding-bottom: 45px;
}

.firstBlockGround {
    height: 1200px;
    background-color: #999;  
}

.ground-block_form {
    height: 412px;
    background-color: var(--hover-color);
    text-align: center;
    display: flex;
    align-items: center;
}